visuais.qrc
*.user
Imagens/design - Copia.jpg
*.autosave
loadingscreen.cpp
loadingscreen.h
media.cpp
media.h
MediaList.gql
medialist.h
user.h
AtomV3.pro
qml/animeSlot.qml
torrenttab.cpp
torrenttab.h
torrenttab.ui
